{% extends 'base.html' %}

{% block title %}アカウント作成{% endblock title %}
{% block h1 %}アカウント作成{% endblock h1 %}

{% block content %}
    <form class="p-4 m-4 bg-light border border-success" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="form-control my-4" placeholder="User ID">
        <input type="password" name="password1" class="form-control mt-4" placeholder="Password">
        <input type="password" name="password2" class="form-control mt-4" placeholder="Password confimation">
        <small class="mb-2 d-block text-start">Passwordは8文字以上</small>
        
        {% if form.errors %}
            <span class="mb-2 small text-danger d-block text-start">利用できないIDやPasswordの可能性があります。入力を再度ご確認ください。</span>
        {% endif %}
            <button type="submit" class="btn btn-success m-2">アカウント作成</button>
    </form>

{% endblock content %}
    
    